*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.tw-fixed {
  position: fixed;
}

.tw-absolute {
  position: absolute;
}

.tw-relative {
  position: relative;
}

.tw-bottom-0 {
  bottom: 0px;
}

.tw-bottom-\[10\%\] {
  bottom: 10%;
}

.tw-bottom-\[5\%\] {
  bottom: 5%;
}

.tw-left-0 {
  left: 0px;
}

.tw-left-10 {
  left: 2.5rem;
}

.tw-left-\[2\%\] {
  left: 2%;
}

.tw-left-\[5\%\] {
  left: 5%;
}

.tw-right-0 {
  right: 0px;
}

.tw-right-\[10\%\] {
  right: 10%;
}

.tw-top-0 {
  top: 0px;
}

.tw-top-1\/3 {
  top: 33.333333%;
}

.tw-top-10 {
  top: 2.5rem;
}

.tw-top-\[10\%\] {
  top: 10%;
}

.tw-top-\[5\%\] {
  top: 5%;
}

.tw-order-1 {
  order: 1;
}

.tw-order-2 {
  order: 2;
}

.tw-order-3 {
  order: 3;
}

.tw-order-first {
  order: -9999;
}

.\!tw-col-span-12 {
  grid-column: span 12 / span 12 !important;
}

.\!tw-col-span-5 {
  grid-column: span 5 / span 5 !important;
}

.\!tw-col-span-7 {
  grid-column: span 7 / span 7 !important;
}

.tw-col-span-1 {
  grid-column: span 1 / span 1;
}

.tw-col-span-2 {
  grid-column: span 2 / span 2;
}

.tw-col-span-3 {
  grid-column: span 3 / span 3;
}

.tw-col-span-4 {
  grid-column: span 4 / span 4;
}

.tw-col-span-5 {
  grid-column: span 5 / span 5;
}

.tw-col-span-6 {
  grid-column: span 6 / span 6;
}

.tw-col-span-7 {
  grid-column: span 7 / span 7;
}

.tw-col-span-full {
  grid-column: 1 / -1;
}

.tw-row-span-2 {
  grid-row: span 2 / span 2;
}

.\!tw-m-0 {
  margin: 0px !important;
}

.tw-m-0 {
  margin: 0px;
}

.tw-m-2 {
  margin: 0.5rem;
}

.tw-m-4 {
  margin: 1rem;
}

.tw-m-5 {
  margin: 1.25rem;
}

.tw-m-6 {
  margin: 1.5rem;
}

.tw-m-auto {
  margin: auto;
}

.tw-mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.tw-mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.tw-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tw-my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.tw-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tw-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tw-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tw-my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.\!tw-mb-0 {
  margin-bottom: 0px !important;
}

.\!tw-mb-10 {
  margin-bottom: 2.5rem !important;
}

.\!tw-mb-2 {
  margin-bottom: 0.5rem !important;
}

.\!tw-mb-20 {
  margin-bottom: 5rem !important;
}

.\!tw-mb-40 {
  margin-bottom: 10rem !important;
}

.\!tw-ml-0 {
  margin-left: 0px !important;
}

.\!tw-ml-\[2em\] {
  margin-left: 2em !important;
}

.tw--mb-5 {
  margin-bottom: -1.25rem;
}

.tw--ml-6 {
  margin-left: -1.5rem;
}

.tw-mb-0 {
  margin-bottom: 0px;
}

.tw-mb-1 {
  margin-bottom: 0.25rem;
}

.tw-mb-10 {
  margin-bottom: 2.5rem;
}

.tw-mb-12 {
  margin-bottom: 3rem;
}

.tw-mb-2 {
  margin-bottom: 0.5rem;
}

.tw-mb-20 {
  margin-bottom: 5rem;
}

.tw-mb-32 {
  margin-bottom: 8rem;
}

.tw-mb-4 {
  margin-bottom: 1rem;
}

.tw-mb-40 {
  margin-bottom: 10rem;
}

.tw-mb-5 {
  margin-bottom: 1.25rem;
}

.tw-mb-6 {
  margin-bottom: 1.5rem;
}

.tw-mb-8 {
  margin-bottom: 2rem;
}

.tw-mb-\[24px\] {
  margin-bottom: 24px;
}

.tw-mb-\[30px\] {
  margin-bottom: 30px;
}

.tw-ml-2 {
  margin-left: 0.5rem;
}

.tw-ml-5 {
  margin-left: 1.25rem;
}

.tw-mt-0 {
  margin-top: 0px;
}

.tw-mt-10 {
  margin-top: 2.5rem;
}

.tw-mt-12 {
  margin-top: 3rem;
}

.tw-mt-14 {
  margin-top: 3.5rem;
}

.tw-mt-2 {
  margin-top: 0.5rem;
}

.tw-mt-20 {
  margin-top: 5rem;
}

.tw-mt-4 {
  margin-top: 1rem;
}

.tw-mt-40 {
  margin-top: 10rem;
}

.tw-mt-5 {
  margin-top: 1.25rem;
}

.tw-mt-\[50px\] {
  margin-top: 50px;
}

.tw-mt-auto {
  margin-top: auto;
}

.tw-box-border {
  box-sizing: border-box;
}

.\!tw-block {
  display: block !important;
}

.tw-block {
  display: block;
}

.tw-inline {
  display: inline;
}

.\!tw-flex {
  display: flex !important;
}

.tw-flex {
  display: flex;
}

.\!tw-grid {
  display: grid !important;
}

.tw-grid {
  display: grid;
}

.\!tw-hidden {
  display: none !important;
}

.tw-hidden {
  display: none;
}

.tw-aspect-square {
  aspect-ratio: 1 / 1;
}

.tw-aspect-video {
  aspect-ratio: 16 / 9;
}

.\!tw-h-10 {
  height: 2.5rem !important;
}

.\!tw-h-12 {
  height: 3rem !important;
}

.\!tw-h-full {
  height: 100% !important;
}

.tw-h-10 {
  height: 2.5rem;
}

.tw-h-12 {
  height: 3rem;
}

.tw-h-16 {
  height: 4rem;
}

.tw-h-3 {
  height: 0.75rem;
}

.tw-h-32 {
  height: 8rem;
}

.tw-h-36 {
  height: 9rem;
}

.tw-h-4 {
  height: 1rem;
}

.tw-h-5 {
  height: 1.25rem;
}

.tw-h-6 {
  height: 1.5rem;
}

.tw-h-8 {
  height: 2rem;
}

.tw-h-full {
  height: 100%;
}

.tw-min-h-0 {
  min-height: 0px;
}

.\!tw-w-1\/2 {
  width: 50% !important;
}

.\!tw-w-1\/3 {
  width: 33.333333% !important;
}

.\!tw-w-1\/4 {
  width: 25% !important;
}

.\!tw-w-1\/6 {
  width: 16.666667% !important;
}

.\!tw-w-10 {
  width: 2.5rem !important;
}

.\!tw-w-11\/12 {
  width: 91.666667% !important;
}

.\!tw-w-12 {
  width: 3rem !important;
}

.\!tw-w-2\/3 {
  width: 66.666667% !important;
}

.\!tw-w-2\/5 {
  width: 40% !important;
}

.\!tw-w-24 {
  width: 6rem !important;
}

.\!tw-w-3\/4 {
  width: 75% !important;
}

.\!tw-w-3\/5 {
  width: 60% !important;
}

.\!tw-w-32 {
  width: 8rem !important;
}

.\!tw-w-4\/5 {
  width: 80% !important;
}

.\!tw-w-6 {
  width: 1.5rem !important;
}

.\!tw-w-8 {
  width: 2rem !important;
}

.\!tw-w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.\!tw-w-full {
  width: 100% !important;
}

.tw-w-1\/2 {
  width: 50%;
}

.tw-w-1\/3 {
  width: 33.333333%;
}

.tw-w-1\/4 {
  width: 25%;
}

.tw-w-1\/6 {
  width: 16.666667%;
}

.tw-w-10 {
  width: 2.5rem;
}

.tw-w-12 {
  width: 3rem;
}

.tw-w-16 {
  width: 4rem;
}

.tw-w-2\/3 {
  width: 66.666667%;
}

.tw-w-20 {
  width: 5rem;
}

.tw-w-24 {
  width: 6rem;
}

.tw-w-28 {
  width: 7rem;
}

.tw-w-3 {
  width: 0.75rem;
}

.tw-w-3\/4 {
  width: 75%;
}

.tw-w-32 {
  width: 8rem;
}

.tw-w-36 {
  width: 9rem;
}

.tw-w-4 {
  width: 1rem;
}

.tw-w-4\/5 {
  width: 80%;
}

.tw-w-40 {
  width: 10rem;
}

.tw-w-5 {
  width: 1.25rem;
}

.tw-w-5\/6 {
  width: 83.333333%;
}

.tw-w-52 {
  width: 13rem;
}

.tw-w-6 {
  width: 1.5rem;
}

.tw-w-8 {
  width: 2rem;
}

.tw-w-\[40px\] {
  width: 40px;
}

.tw-w-full {
  width: 100%;
}

.tw-min-w-0 {
  min-width: 0px;
}

.tw-max-w-full {
  max-width: 100%;
}

.\!tw-flex-initial {
  flex: 0 1 auto !important;
}

.tw-flex-1 {
  flex: 1 1 0%;
}

.tw-shrink-0 {
  flex-shrink: 0;
}

.\!tw-basis-1\/2 {
  flex-basis: 50% !important;
}

.tw-basis-1\/2 {
  flex-basis: 50%;
}

.tw-list-inside {
  list-style-position: inside;
}

.tw-list-decimal {
  list-style-type: decimal;
}

.tw-list-none {
  list-style-type: none;
}

.tw-grid-flow-col {
  grid-auto-flow: column;
}

.\!tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.\!tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.\!tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.\!tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.tw-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.tw-grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.\!tw-flex-row {
  flex-direction: row !important;
}

.tw-flex-row {
  flex-direction: row;
}

.\!tw-flex-row-reverse {
  flex-direction: row-reverse !important;
}

.tw-flex-row-reverse {
  flex-direction: row-reverse;
}

.\!tw-flex-col {
  flex-direction: column !important;
}

.tw-flex-col {
  flex-direction: column;
}

.\!tw-flex-col-reverse {
  flex-direction: column-reverse !important;
}

.tw-flex-col-reverse {
  flex-direction: column-reverse;
}

.tw-flex-wrap {
  flex-wrap: wrap;
}

.tw-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.\!tw-items-start {
  align-items: flex-start !important;
}

.tw-items-start {
  align-items: flex-start;
}

.tw-items-end {
  align-items: flex-end;
}

.\!tw-items-center {
  align-items: center !important;
}

.tw-items-center {
  align-items: center;
}

.\!tw-justify-normal {
  justify-content: normal !important;
}

.\!tw-justify-start {
  justify-content: flex-start !important;
}

.\!tw-justify-end {
  justify-content: flex-end !important;
}

.tw-justify-end {
  justify-content: flex-end;
}

.tw-justify-center {
  justify-content: center;
}

.\!tw-justify-between {
  justify-content: space-between !important;
}

.tw-justify-between {
  justify-content: space-between;
}

.tw-justify-around {
  justify-content: space-around;
}

.tw-justify-evenly {
  justify-content: space-evenly;
}

.\!tw-justify-stretch {
  justify-content: stretch !important;
}

.\!tw-justify-items-center {
  justify-items: center !important;
}

.tw-justify-items-center {
  justify-items: center;
}

.\!tw-gap-0 {
  gap: 0px !important;
}

.\!tw-gap-1 {
  gap: 0.25rem !important;
}

.\!tw-gap-2 {
  gap: 0.5rem !important;
}

.\!tw-gap-4 {
  gap: 1rem !important;
}

.tw-gap-0 {
  gap: 0px;
}

.tw-gap-1 {
  gap: 0.25rem;
}

.tw-gap-10 {
  gap: 2.5rem;
}

.tw-gap-2 {
  gap: 0.5rem;
}

.tw-gap-3 {
  gap: 0.75rem;
}

.tw-gap-4 {
  gap: 1rem;
}

.tw-gap-5 {
  gap: 1.25rem;
}

.tw-gap-6 {
  gap: 1.5rem;
}

.tw-gap-7 {
  gap: 1.75rem;
}

.tw-gap-8 {
  gap: 2rem;
}

.tw-gap-\[22px\] {
  gap: 22px;
}

.tw-gap-\[6px\] {
  gap: 6px;
}

.tw-gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.tw-gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.tw-gap-x-\[14px\] {
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.tw-gap-y-2 {
  row-gap: 0.5rem;
}

.tw-gap-y-3 {
  row-gap: 0.75rem;
}

.tw-gap-y-4 {
  row-gap: 1rem;
}

.tw-gap-y-6 {
  row-gap: 1.5rem;
}

.tw-gap-y-\[14px\] {
  row-gap: 14px;
}

.tw-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.\!tw-self-start {
  align-self: flex-start !important;
}

.tw-self-start {
  align-self: flex-start;
}

.\!tw-self-end {
  align-self: flex-end !important;
}

.tw-self-end {
  align-self: flex-end;
}

.tw-self-center {
  align-self: center;
}

.tw-justify-self-end {
  justify-self: end;
}

.tw-rounded {
  border-radius: 0.25rem;
}

.tw-rounded-3xl {
  border-radius: 1.5rem;
}

.tw-rounded-full {
  border-radius: 9999px;
}

.tw-rounded-lg {
  border-radius: 0.5rem;
}

.tw-rounded-xl {
  border-radius: 0.75rem;
}

.tw-rounded-b-3xl {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.tw-border {
  border-width: 1px;
}

.tw-border-2 {
  border-width: 2px;
}

.tw-border-b {
  border-bottom-width: 1px;
}

.tw-border-b-4 {
  border-bottom-width: 4px;
}

.tw-border-\[\#a0a2a3\] {
  --tw-border-opacity: 1;
  border-color: rgb(160 162 163 / var(--tw-border-opacity));
}

.tw-border-\[var\(--section-grid-color\)\] {
  border-color: var(--section-grid-color);
}

.tw-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.tw-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.tw-border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.\!tw-bg-\[\#05030a\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(5 3 10 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#09080b\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(9 8 11 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#0d0d0d\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(13 13 13 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#1E1E1E\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#D3D1D1\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(211 209 209 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#DEDEDE\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(222 222 222 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#E9E9E9\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(233 233 233 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#d8d8da\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(216 216 218 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#e6e8ea\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(230 232 234 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#e7e7e7\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(231 231 231 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#e8e8e8\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#ececee\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(236 236 238 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#f0ece6\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 236 230 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[\#f7f7f7\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-\[var\(--section-bg-color\)\] {
  background-color: var(--section-bg-color) !important;
}

.\!tw-bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
}

.\!tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.tw-bg-\[\#000000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.tw-bg-\[\#09080b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(9 8 11 / var(--tw-bg-opacity));
}

.tw-bg-\[\#121212\] {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
}

.tw-bg-\[\#161616\] {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity));
}

.tw-bg-\[\#191919\] {
  --tw-bg-opacity: 1;
  background-color: rgb(25 25 25 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1D1D1D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 29 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1E1E1E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1a1a1a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1b1b1b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1d1d1d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 29 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1d1d1f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 31 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1e1e1e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}

.tw-bg-\[\#1e3052\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 48 82 / var(--tw-bg-opacity));
}

.tw-bg-\[\#216aa7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 106 167 / var(--tw-bg-opacity));
}

.tw-bg-\[\#333333\] {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity));
}

.tw-bg-\[\#352723\] {
  --tw-bg-opacity: 1;
  background-color: rgb(53 39 35 / var(--tw-bg-opacity));
}

.tw-bg-\[\#3A2521\] {
  --tw-bg-opacity: 1;
  background-color: rgb(58 37 33 / var(--tw-bg-opacity));
}

.tw-bg-\[\#3a2521\] {
  --tw-bg-opacity: 1;
  background-color: rgb(58 37 33 / var(--tw-bg-opacity));
}

.tw-bg-\[\#492f2c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(73 47 44 / var(--tw-bg-opacity));
}

.tw-bg-\[\#6B6871\] {
  --tw-bg-opacity: 1;
  background-color: rgb(107 104 113 / var(--tw-bg-opacity));
}

.tw-bg-\[\#6f3801\] {
  --tw-bg-opacity: 1;
  background-color: rgb(111 56 1 / var(--tw-bg-opacity));
}

.tw-bg-\[\#726478\] {
  --tw-bg-opacity: 1;
  background-color: rgb(114 100 120 / var(--tw-bg-opacity));
}

.tw-bg-\[\#88091d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(136 9 29 / var(--tw-bg-opacity));
}

.tw-bg-\[\#8E8680\] {
  --tw-bg-opacity: 1;
  background-color: rgb(142 134 128 / var(--tw-bg-opacity));
}

.tw-bg-\[\#8c8b8e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(140 139 142 / var(--tw-bg-opacity));
}

.tw-bg-\[\#964B00\] {
  --tw-bg-opacity: 1;
  background-color: rgb(150 75 0 / var(--tw-bg-opacity));
}

.tw-bg-\[\#968480\] {
  --tw-bg-opacity: 1;
  background-color: rgb(150 132 128 / var(--tw-bg-opacity));
}

.tw-bg-\[\#97AEC4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(151 174 196 / var(--tw-bg-opacity));
}

.tw-bg-\[\#B7AD9F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(183 173 159 / var(--tw-bg-opacity));
}

.tw-bg-\[\#B7AE9F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(183 174 159 / var(--tw-bg-opacity));
}

.tw-bg-\[\#B8B0A2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(184 176 162 / var(--tw-bg-opacity));
}

.tw-bg-\[\#D3D1D1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(211 209 209 / var(--tw-bg-opacity));
}

.tw-bg-\[\#D8D0C7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(216 208 199 / var(--tw-bg-opacity));
}

.tw-bg-\[\#DEDEDE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(222 222 222 / var(--tw-bg-opacity));
}

.tw-bg-\[\#E4E4E4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 228 / var(--tw-bg-opacity));
}

.tw-bg-\[\#a0a2a3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(160 162 163 / var(--tw-bg-opacity));
}

.tw-bg-\[\#b6b6b6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(182 182 182 / var(--tw-bg-opacity));
}

.tw-bg-\[\#bfb7a9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(191 183 169 / var(--tw-bg-opacity));
}

.tw-bg-\[\#c3c4c7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(195 196 199 / var(--tw-bg-opacity));
}

.tw-bg-\[\#d3d1d2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(211 209 210 / var(--tw-bg-opacity));
}

.tw-bg-\[\#d3d2d5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(211 210 213 / var(--tw-bg-opacity));
}

.tw-bg-\[\#d8d8d8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(216 216 216 / var(--tw-bg-opacity));
}

.tw-bg-\[\#d9d9d9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e0e1e3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 225 227 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e0e2e4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(224 226 228 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e1e3e5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(225 227 229 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e2dcd4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 220 212 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e4e2df\] {
  --tw-bg-opacity: 1;
  background-color: rgb(228 226 223 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e5e1d9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 225 217 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e7e7e7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(231 231 231 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e9e5e1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 229 225 / var(--tw-bg-opacity));
}

.tw-bg-\[\#e9e9e9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 233 233 / var(--tw-bg-opacity));
}

.tw-bg-\[\#eae4df\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 228 223 / var(--tw-bg-opacity));
}

.tw-bg-\[\#ece7e3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(236 231 227 / var(--tw-bg-opacity));
}

.tw-bg-\[\#ececee\] {
  --tw-bg-opacity: 1;
  background-color: rgb(236 236 238 / var(--tw-bg-opacity));
}

.tw-bg-\[\#efe9e6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 233 230 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f0f0f0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f1f3f4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 243 244 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f2f0f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 240 243 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f2f2f2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f2f4f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 244 243 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f2f4f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 244 245 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f3f5f7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 245 247 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f4ebe4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 235 228 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f4f0ed\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 240 237 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f4f7f9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 249 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f5f5f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f5f6f8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 248 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f5f7f9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 249 / var(--tw-bg-opacity));
}

.tw-bg-\[\#f6ebe3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(246 235 227 / var(--tw-bg-opacity));
}

.tw-bg-\[var\(--section-background-color\)\] {
  background-color: var(--section-background-color);
}

.tw-bg-\[var\(--section-bg-color\)\] {
  background-color: var(--section-bg-color);
}

.tw-bg-\[var\(--section-grid-color\)\] {
  background-color: var(--section-grid-color);
}

.tw-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.tw-bg-neutral-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.tw-bg-\[url\(\'https\:\/\/cdn\.shopify\.com\/s\/files\/1\/0086\/1297\/0558\/files\/10\.Massage_Chair_Cover_Information_Background\.webp\?v\=1692717789\'\)\] {
  background-image: url('https://cdn.shopify.com/s/files/1/0086/1297/0558/files/10.Massage_Chair_Cover_Information_Background.webp?v=1692717789');
}

.tw-bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.tw-bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.tw-from-blue-500 {
  --tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.tw-from-neutral-100 {
  --tw-gradient-from: #f5f5f5 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(245 245 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.tw-from-neutral-300 {
  --tw-gradient-from: #d4d4d4 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(212 212 212 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.tw-from-pink-500 {
  --tw-gradient-from: #ec4899 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(236 72 153 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.tw-from-slate-700 {
  --tw-gradient-from: #334155 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(51 65 85 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.tw-via-green-500 {
  --tw-gradient-to: rgb(34 197 94 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #22c55e var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.tw-via-neutral-600 {
  --tw-gradient-to: rgb(82 82 82 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #525252 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.tw-via-red-500 {
  --tw-gradient-to: rgb(239 68 68 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #ef4444 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.tw-via-slate-500 {
  --tw-gradient-to: rgb(100 116 139 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #64748b var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.tw-to-green-500 {
  --tw-gradient-to: #22c55e var(--tw-gradient-to-position);
}

.tw-to-neutral-600 {
  --tw-gradient-to: #525252 var(--tw-gradient-to-position);
}

.tw-to-orange-500 {
  --tw-gradient-to: #f97316 var(--tw-gradient-to-position);
}

.tw-to-slate-300 {
  --tw-gradient-to: #cbd5e1 var(--tw-gradient-to-position);
}

.tw-to-yellow-500 {
  --tw-gradient-to: #eab308 var(--tw-gradient-to-position);
}

.tw-bg-cover {
  background-size: cover;
}

.tw-bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}

.tw-object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.\!tw-p-0 {
  padding: 0px !important;
}

.\!tw-p-10 {
  padding: 2.5rem !important;
}

.tw-p-0 {
  padding: 0px;
}

.tw-p-1 {
  padding: 0.25rem;
}

.tw-p-10 {
  padding: 2.5rem;
}

.tw-p-2 {
  padding: 0.5rem;
}

.tw-p-3 {
  padding: 0.75rem;
}

.tw-p-4 {
  padding: 1rem;
}

.tw-p-5 {
  padding: 1.25rem;
}

.tw-p-6 {
  padding: 1.5rem;
}

.tw-p-8 {
  padding: 2rem;
}

.\!tw-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.\!tw-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.\!tw-py-\[2\%\] {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.tw-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.tw-px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tw-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tw-px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.tw-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tw-py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.tw-py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tw-py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.\!tw-pb-0 {
  padding-bottom: 0px !important;
}

.\!tw-pb-10 {
  padding-bottom: 2.5rem !important;
}

.\!tw-pb-\[20em\] {
  padding-bottom: 20em !important;
}

.\!tw-pl-0 {
  padding-left: 0px !important;
}

.\!tw-pl-\[10\%\] {
  padding-left: 10% !important;
}

.\!tw-pl-\[15\%\] {
  padding-left: 15% !important;
}

.\!tw-pr-0 {
  padding-right: 0px !important;
}

.\!tw-pt-0 {
  padding-top: 0px !important;
}

.\!tw-pt-6 {
  padding-top: 1.5rem !important;
}

.tw-pb-0 {
  padding-bottom: 0px;
}

.tw-pb-1 {
  padding-bottom: 0.25rem;
}

.tw-pb-10 {
  padding-bottom: 2.5rem;
}

.tw-pb-16 {
  padding-bottom: 4rem;
}

.tw-pb-2 {
  padding-bottom: 0.5rem;
}

.tw-pb-20 {
  padding-bottom: 5rem;
}

.tw-pb-4 {
  padding-bottom: 1rem;
}

.tw-pb-40 {
  padding-bottom: 10rem;
}

.tw-pb-5 {
  padding-bottom: 1.25rem;
}

.tw-pb-\[5\%\] {
  padding-bottom: 5%;
}

.tw-pl-0 {
  padding-left: 0px;
}

.tw-pl-10 {
  padding-left: 2.5rem;
}

.tw-pl-4 {
  padding-left: 1rem;
}

.tw-pl-5 {
  padding-left: 1.25rem;
}

.tw-pr-0 {
  padding-right: 0px;
}

.tw-pr-2 {
  padding-right: 0.5rem;
}

.tw-pr-6 {
  padding-right: 1.5rem;
}

.tw-pt-0 {
  padding-top: 0px;
}

.tw-pt-1 {
  padding-top: 0.25rem;
}

.tw-pt-10 {
  padding-top: 2.5rem;
}

.tw-pt-12 {
  padding-top: 3rem;
}

.tw-pt-4 {
  padding-top: 1rem;
}

.tw-pt-5 {
  padding-top: 1.25rem;
}

.tw-text-left {
  text-align: left;
}

.\!tw-text-center {
  text-align: center !important;
}

.tw-text-center {
  text-align: center;
}

.\!tw-text-right {
  text-align: right !important;
}

.tw-text-right {
  text-align: right;
}

.tw-text-justify {
  text-align: justify;
}

.\!tw-font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.tw-font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.\!tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.tw-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.tw-text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.tw-text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.tw-text-\[11px\] {
  font-size: 11px;
}

.tw-text-\[14px\] {
  font-size: 14px;
}

.tw-text-\[18px\] {
  font-size: 18px;
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.\!tw-font-light {
  font-weight: 300 !important;
}

.\!tw-font-normal {
  font-weight: 400 !important;
}

.tw-font-bold {
  font-weight: 700;
}

.tw-font-light {
  font-weight: 300;
}

.tw-font-normal {
  font-weight: 400;
}

.tw-font-semibold {
  font-weight: 600;
}

.tw-italic {
  font-style: italic;
}

.\!tw-leading-none {
  line-height: 1 !important;
}

.tw-leading-normal {
  line-height: 1.5;
}

.tw-leading-relaxed {
  line-height: 1.625;
}

.tw-leading-snug {
  line-height: 1.375;
}

.\!tw-text-\[\#215CDE\] {
  --tw-text-opacity: 1 !important;
  color: rgb(33 92 222 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#2D59EE\] {
  --tw-text-opacity: 1 !important;
  color: rgb(45 89 238 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#2D59F2\] {
  --tw-text-opacity: 1 !important;
  color: rgb(45 89 242 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#474747\] {
  --tw-text-opacity: 1 !important;
  color: rgb(71 71 71 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#53D39B\] {
  --tw-text-opacity: 1 !important;
  color: rgb(83 211 155 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#808080\] {
  --tw-text-opacity: 1 !important;
  color: rgb(128 128 128 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#808084\] {
  --tw-text-opacity: 1 !important;
  color: rgb(128 128 132 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#989898\] {
  --tw-text-opacity: 1 !important;
  color: rgb(152 152 152 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#C6C6C6\] {
  --tw-text-opacity: 1 !important;
  color: rgb(198 198 198 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#D1D1D1\] {
  --tw-text-opacity: 1 !important;
  color: rgb(209 209 209 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#DBD6D4\] {
  --tw-text-opacity: 1 !important;
  color: rgb(219 214 212 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#DC1d1d\] {
  --tw-text-opacity: 1 !important;
  color: rgb(220 29 29 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#E02D2D\] {
  --tw-text-opacity: 1 !important;
  color: rgb(224 45 45 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#E2E2E2\] {
  --tw-text-opacity: 1 !important;
  color: rgb(226 226 226 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[\#d1d1d1\] {
  --tw-text-opacity: 1 !important;
  color: rgb(209 209 209 / var(--tw-text-opacity)) !important;
}

.\!tw-text-\[var\(--section-grid-color\)\] {
  color: var(--section-grid-color) !important;
}

.\!tw-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.\!tw-text-blue-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important;
}

.\!tw-text-blue-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
}

.\!tw-text-blue-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(29 78 216 / var(--tw-text-opacity)) !important;
}

.\!tw-text-neutral-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(163 163 163 / var(--tw-text-opacity)) !important;
}

.\!tw-text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(239 68 68 / var(--tw-text-opacity)) !important;
}

.\!tw-text-red-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(185 28 28 / var(--tw-text-opacity)) !important;
}

.\!tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.tw-text-\[\#0d0d0d\] {
  --tw-text-opacity: 1;
  color: rgb(13 13 13 / var(--tw-text-opacity));
}

.tw-text-\[\#333333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.tw-text-\[\#5c5c5c\] {
  --tw-text-opacity: 1;
  color: rgb(92 92 92 / var(--tw-text-opacity));
}

.tw-text-\[\#7d7d7d\] {
  --tw-text-opacity: 1;
  color: rgb(125 125 125 / var(--tw-text-opacity));
}

.tw-text-\[\#86868b\] {
  --tw-text-opacity: 1;
  color: rgb(134 134 139 / var(--tw-text-opacity));
}

.tw-text-\[\#a1a1a6\] {
  --tw-text-opacity: 1;
  color: rgb(161 161 166 / var(--tw-text-opacity));
}

.tw-text-\[var\(--section-content-color\)\] {
  color: var(--section-content-color);
}

.tw-text-\[var\(--section-grid-color\)\] {
  color: var(--section-grid-color);
}

.tw-text-\[var\(--section-header-color\)\] {
  color: var(--section-header-color);
}

.tw-text-\[var\(--section-strong-color\)\] {
  color: var(--section-strong-color);
}

.tw-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.tw-text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.tw-text-blue-700 {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.tw-text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.tw-text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.tw-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.tw-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.tw-text-neutral-300 {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity));
}

.tw-text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgb(163 163 163 / var(--tw-text-opacity));
}

.tw-text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity));
}

.tw-text-neutral-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity));
}

.tw-text-orange-400 {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

.tw-text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.tw-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.tw-text-transparent {
  color: transparent;
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tw-text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

.\!tw-no-underline {
  text-decoration-line: none !important;
}

.tw-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

img,
video {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .dark\:tw-text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
}

@media (max-width: 768px) {
  .max-\[768px\]\:\!tw-gap-0 {
    gap: 0px !important;
  }

  .max-\[768px\]\:\!tw-p-4 {
    padding: 1rem !important;
  }

  .max-\[768px\]\:tw-p-10 {
    padding: 2.5rem;
  }

  .max-\[768px\]\:\!tw-px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .max-\[768px\]\:\!tw-pb-0 {
    padding-bottom: 0px !important;
  }

  .max-\[768px\]\:\!tw-pt-0 {
    padding-top: 0px !important;
  }

  .max-\[768px\]\:tw-pl-6 {
    padding-left: 1.5rem;
  }

  .max-\[768px\]\:\!tw-text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
}

@media (min-width: 400px) {
  .min-\[400px\]\:tw-ml-6 {
    margin-left: 1.5rem;
  }
}

@media (min-width: 450px) {
  .min-\[450px\]\:tw-mb-6 {
    margin-bottom: 1.5rem;
  }

  .min-\[450px\]\:tw-ml-8 {
    margin-left: 2rem;
  }
}

@media (min-width: 480px) {
  .min-\[480px\]\:tw-w-\[480px\] {
    width: 480px;
  }
}

@media (min-width: 500px) {
  .min-\[500px\]\:tw-ml-10 {
    margin-left: 2.5rem;
  }
}

@media (min-width: 768px) {
  .md\:tw-static {
    position: static;
  }

  .md\:tw-absolute {
    position: absolute;
  }

  .md\:tw-relative {
    position: relative;
  }

  .md\:tw-left-0 {
    left: 0px;
  }

  .md\:tw-left-\[10\%\] {
    left: 10%;
  }

  .md\:tw-right-0 {
    right: 0px;
  }

  .md\:tw-top-\[16\%\] {
    top: 16%;
  }

  .md\:tw-order-1 {
    order: 1;
  }

  .md\:tw-order-3 {
    order: 3;
  }

  .md\:tw-col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:tw-col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:tw-col-span-3 {
    grid-column: span 3 / span 3;
  }

  .md\:tw-col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:tw-m-10 {
    margin: 2.5rem;
  }

  .md\:tw-mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .md\:tw-mx-20 {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .md\:tw-mx-24 {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .md\:tw-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .md\:tw-my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .md\:\!tw-mb-0 {
    margin-bottom: 0px !important;
  }

  .md\:\!tw-mb-20 {
    margin-bottom: 5rem !important;
  }

  .md\:\!tw-mb-24 {
    margin-bottom: 6rem !important;
  }

  .md\:\!tw-mb-40 {
    margin-bottom: 10rem !important;
  }

  .md\:\!tw-mb-80 {
    margin-bottom: 20rem !important;
  }

  .md\:tw--ml-12 {
    margin-left: -3rem;
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px;
  }

  .md\:tw-mb-10 {
    margin-bottom: 2.5rem;
  }

  .md\:tw-mb-2 {
    margin-bottom: 0.5rem;
  }

  .md\:tw-mb-24 {
    margin-bottom: 6rem;
  }

  .md\:tw-mb-4 {
    margin-bottom: 1rem;
  }

  .md\:tw-mb-80 {
    margin-bottom: 20rem;
  }

  .md\:tw-mb-9 {
    margin-bottom: 2.25rem;
  }

  .md\:tw-ml-0 {
    margin-left: 0px;
  }

  .md\:tw-mt-24 {
    margin-top: 6rem;
  }

  .md\:tw-mt-80 {
    margin-top: 20rem;
  }

  .md\:tw-block {
    display: block;
  }

  .md\:\!tw-grid {
    display: grid !important;
  }

  .md\:\!tw-h-20 {
    height: 5rem !important;
  }

  .md\:tw-h-16 {
    height: 4rem;
  }

  .md\:tw-h-52 {
    height: 13rem;
  }

  .md\:tw-h-56 {
    height: 14rem;
  }

  .md\:tw-h-9 {
    height: 2.25rem;
  }

  .md\:\!tw-w-1\/2 {
    width: 50% !important;
  }

  .md\:\!tw-w-1\/3 {
    width: 33.333333% !important;
  }

  .md\:\!tw-w-1\/4 {
    width: 25% !important;
  }

  .md\:\!tw-w-1\/6 {
    width: 16.666667% !important;
  }

  .md\:\!tw-w-11\/12 {
    width: 91.666667% !important;
  }

  .md\:\!tw-w-16 {
    width: 4rem !important;
  }

  .md\:\!tw-w-2\/3 {
    width: 66.666667% !important;
  }

  .md\:\!tw-w-2\/5 {
    width: 40% !important;
  }

  .md\:\!tw-w-20 {
    width: 5rem !important;
  }

  .md\:\!tw-w-24 {
    width: 6rem !important;
  }

  .md\:\!tw-w-full {
    width: 100% !important;
  }

  .md\:tw-w-1\/2 {
    width: 50%;
  }

  .md\:tw-w-1\/3 {
    width: 33.333333%;
  }

  .md\:tw-w-10 {
    width: 2.5rem;
  }

  .md\:tw-w-12 {
    width: 3rem;
  }

  .md\:tw-w-16 {
    width: 4rem;
  }

  .md\:tw-w-2\/3 {
    width: 66.666667%;
  }

  .md\:tw-w-2\/5 {
    width: 40%;
  }

  .md\:tw-w-24 {
    width: 6rem;
  }

  .md\:tw-w-3\/4 {
    width: 75%;
  }

  .md\:tw-w-3\/5 {
    width: 60%;
  }

  .md\:tw-w-32 {
    width: 8rem;
  }

  .md\:tw-w-4\/5 {
    width: 80%;
  }

  .md\:tw-w-5\/6 {
    width: 83.333333%;
  }

  .md\:tw-w-52 {
    width: 13rem;
  }

  .md\:tw-w-56 {
    width: 14rem;
  }

  .md\:tw-w-60 {
    width: 15rem;
  }

  .md\:tw-w-8 {
    width: 2rem;
  }

  .md\:tw-w-\[70\%\] {
    width: 70%;
  }

  .md\:tw-w-\[768px\] {
    width: 768px;
  }

  .md\:tw-w-full {
    width: 100%;
  }

  .md\:\!tw-flex-initial {
    flex: 0 1 auto !important;
  }

  .md\:tw-basis-2\/5 {
    flex-basis: 40%;
  }

  .md\:tw-basis-3\/5 {
    flex-basis: 60%;
  }

  .md\:\!tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .md\:\!tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md\:\!tw-flex-row {
    flex-direction: row !important;
  }

  .md\:tw-flex-row {
    flex-direction: row;
  }

  .md\:\!tw-flex-row-reverse {
    flex-direction: row-reverse !important;
  }

  .md\:tw-flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:tw-flex-col {
    flex-direction: column;
  }

  .md\:tw-flex-col-reverse {
    flex-direction: column-reverse;
  }

  .md\:tw-items-center {
    align-items: center;
  }

  .md\:\!tw-justify-start {
    justify-content: flex-start !important;
  }

  .md\:\!tw-justify-items-center {
    justify-items: center !important;
  }

  .md\:tw-gap-10 {
    gap: 2.5rem;
  }

  .md\:tw-gap-4 {
    gap: 1rem;
  }

  .md\:tw-gap-5 {
    gap: 1.25rem;
  }

  .md\:tw-gap-8 {
    gap: 2rem;
  }

  .md\:tw-gap-9 {
    gap: 2.25rem;
  }

  .md\:tw-self-auto {
    align-self: auto;
  }

  .md\:tw-self-start {
    align-self: flex-start;
  }

  .md\:tw-rounded-b-3xl {
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .md\:tw-rounded-t-none {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .md\:\!tw-bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
  }

  .md\:tw-p-10 {
    padding: 2.5rem;
  }

  .md\:tw-p-20 {
    padding: 5rem;
  }

  .md\:tw-p-3 {
    padding: 0.75rem;
  }

  .md\:tw-p-6 {
    padding: 1.5rem;
  }

  .md\:tw-p-7 {
    padding: 1.75rem;
  }

  .md\:tw-p-8 {
    padding: 2rem;
  }

  .md\:\!tw-px-36 {
    padding-left: 9rem !important;
    padding-right: 9rem !important;
  }

  .md\:tw-px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:tw-px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:\!tw-pb-\[25em\] {
    padding-bottom: 25em !important;
  }

  .md\:\!tw-pl-0 {
    padding-left: 0px !important;
  }

  .md\:tw-pb-0 {
    padding-bottom: 0px;
  }

  .md\:tw-pb-10 {
    padding-bottom: 2.5rem;
  }

  .md\:tw-pb-6 {
    padding-bottom: 1.5rem;
  }

  .md\:tw-pl-0 {
    padding-left: 0px;
  }

  .md\:tw-pl-10 {
    padding-left: 2.5rem;
  }

  .md\:tw-pl-5 {
    padding-left: 1.25rem;
  }

  .md\:tw-pl-\[15\%\] {
    padding-left: 15%;
  }

  .md\:tw-pr-0 {
    padding-right: 0px;
  }

  .md\:tw-pt-0 {
    padding-top: 0px;
  }

  .md\:tw-pt-10 {
    padding-top: 2.5rem;
  }

  .md\:tw-pt-4 {
    padding-top: 1rem;
  }

  .md\:tw-pt-7 {
    padding-top: 1.75rem;
  }

  .md\:tw-text-left {
    text-align: left;
  }

  .md\:tw-text-center {
    text-align: center;
  }

  .md\:\!tw-text-justify {
    text-align: justify !important;
  }

  .md\:tw-text-justify {
    text-align: justify;
  }

  .md\:\!tw-text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  .md\:\!tw-text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

  .md\:tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:tw-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .md\:tw-text-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .md\:tw-text-\[36px\] {
    font-size: 36px;
  }

  .md\:tw-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:tw-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:tw-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:tw-left-\[10\%\] {
    left: 10%;
  }

  .lg\:tw-top-\[17\%\] {
    top: 17%;
  }

  .lg\:tw-col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:tw-col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:tw-my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .lg\:tw-my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .lg\:\!tw-mb-4 {
    margin-bottom: 1rem !important;
  }

  .lg\:\!tw-mb-40 {
    margin-bottom: 10rem !important;
  }

  .lg\:\!tw-mt-\[-10em\] {
    margin-top: -10em !important;
  }

  .lg\:tw--ml-20 {
    margin-left: -5rem;
  }

  .lg\:tw-mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:tw-mb-20 {
    margin-bottom: 5rem;
  }

  .lg\:tw-mb-40 {
    margin-bottom: 10rem;
  }

  .lg\:tw-mb-\[58px\] {
    margin-bottom: 58px;
  }

  .lg\:tw-mt-36 {
    margin-top: 9rem;
  }

  .lg\:tw-block {
    display: block;
  }

  .lg\:\!tw-h-20 {
    height: 5rem !important;
  }

  .lg\:tw-h-0 {
    height: 0px;
  }

  .lg\:tw-h-5 {
    height: 1.25rem;
  }

  .lg\:tw-h-72 {
    height: 18rem;
  }

  .lg\:\!tw-w-1\/12 {
    width: 8.333333% !important;
  }

  .lg\:\!tw-w-12 {
    width: 3rem !important;
  }

  .lg\:\!tw-w-16 {
    width: 4rem !important;
  }

  .lg\:\!tw-w-20 {
    width: 5rem !important;
  }

  .lg\:\!tw-w-24 {
    width: 6rem !important;
  }

  .lg\:\!tw-w-32 {
    width: 8rem !important;
  }

  .lg\:tw-w-1\/2 {
    width: 50%;
  }

  .lg\:tw-w-40 {
    width: 10rem;
  }

  .lg\:tw-w-5 {
    width: 1.25rem;
  }

  .lg\:tw-w-72 {
    width: 18rem;
  }

  .lg\:tw-w-\[100px\] {
    width: 100px;
  }

  .lg\:tw-w-\[1024px\] {
    width: 1024px;
  }

  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:tw-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:tw-flex-row {
    flex-direction: row;
  }

  .lg\:tw-gap-10 {
    gap: 2.5rem;
  }

  .lg\:tw-gap-12 {
    gap: 3rem;
  }

  .lg\:tw-gap-9 {
    gap: 2.25rem;
  }

  .lg\:tw-p-10 {
    padding: 2.5rem;
  }

  .lg\:tw-p-16 {
    padding: 4rem;
  }

  .lg\:tw-p-20 {
    padding: 5rem;
  }

  .lg\:\!tw-px-56 {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }

  .lg\:tw-px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:\!tw-pb-0 {
    padding-bottom: 0px !important;
  }

  .lg\:tw-pt-10 {
    padding-top: 2.5rem;
  }

  .lg\:tw-pt-20 {
    padding-top: 5rem;
  }

  .lg\:tw-text-justify {
    text-align: justify;
  }

  .lg\:\!tw-text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  .lg\:tw-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:tw-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:tw-text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .lg\:tw-text-\[25px\] {
    font-size: 25px;
  }

  .lg\:tw-text-\[34px\] {
    font-size: 34px;
  }

  .lg\:tw-text-\[44px\] {
    font-size: 44px;
  }

  .lg\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:tw-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
