#intensity-level {
  display: flex;
  position: relative;
  align-items: center;
  gap: 4px;
}
.show-intensity-modal:hover + .intensity-modal {
  display: block;
  z-index: 999;
}
.intensity-modal {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  max-width: 600px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 lightgray;
  color: #444;
}
.intensity-modal img {
  width: 100%;
  border-radius: 10px;
}
